.contracts {
  width: 100%;
  overflow-x: auto;
}

.contractsTable {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.contractsTable th, .contractsTable td {
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
}

.contractsTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.addButton {
  display: flex;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #24304F;
  background: #24304F;
  color: white;
  text-decoration: none;
}

.addButton:hover {
  background-color: gray;
  cursor: pointer;
}

.detailsButton {
  background-color: #24304f;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.detailsButton:hover {
  background-color: gray;
}
