.meetings {
  width: 100%;
  overflow-x: auto;
}

.meetingsTable {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.meetingsTable th, .meetingsTable td {
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
}

.meetingsTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.addButton {
  display: flex;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #24304F;
  background: #24304F;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #555;
}

.detailsButton, .editButton, .deleteButton {
  background-color: #24304f;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 8px; /* Dodaj odstęp pomiędzy przyciskami */
}

.detailsButton:hover, .editButton:hover, .deleteButton:hover {
  background-color: gray;
}

/* Usuwamy prawy margines dla ostatniego przycisku */
.detailsButton:last-child, 
.editButton:last-child, 
.deleteButton:last-child {
  margin-right: 0;
}
