.buttontopbar {
	width: 44px;
	height: 44px;
	text-decoration: none;
	border: none;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0px 2px 1.7999999523162842px rgba(0, 0, 0, 0.25); 
	transition: background 0.2s, box-shadow 0.2s;
	margin: 0 10px;
}
.buttontopbar img {
	transition: filter 0.3s;
	filter: invert(30%);
}
.buttontopbar:hover {
	background-color: var(--background-menu-item);
	box-shadow: 0px 2px 1.7999999523162842px rgba(0, 0, 0, 0.749);
}

.buttontopbar:hover img {
	filter: invert(0);
}
