.profile {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-weight: bold;
}
.btnProfile {
	border: none;
	text-decoration: none;
	border-radius: 50%;
	transition: filter 0.3s ease;
}
.btnProfile:hover {
	filter: brightness(80%);
}
