.userPageContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

h1 {
  margin-bottom: 20px;
}

.projectSwitcher {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.projectSelect {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5
}

/* Flexbox layout for top section */
.topSection {
  display: flex;
  gap: 20px;
}

/* Styling for project data and client data blocks */
.projectData, .clientData {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  background-color: #f9f9f9;
}

.projectData ul, .clientData ul {
  padding-left: 20px;
}

/* Flexbox layout for bottom section */
.bottomSection {
  display: flex;
  gap: 20px;
}

/* Styling for project tasks and docs blocks */
.projectTasks, .projectDocs {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  background-color: #f9f9f9;
}

.projectTasks ul, .projectDocs ul {
  padding-left: 20px;
}

/* Styling for meeting details block */
.meetingDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  background-color: #f9f9f9;
}

.meetingDetails p a {
  color: #0066cc;
  text-decoration: none;
}

.meetingDetails p a:hover {
  text-decoration: underline;
}