.body {
    width: 100%; 
    height: 100%; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 10px; 
    display: inline-flex;
    font-family: Inter, sans-serif;
    
}

.header_container {
    align-self: stretch; 
    padding-top: 15px; 
    padding-bottom: 15px; 
    border-bottom: 1px #E0E0E0 solid; 
    justify-content: space-between; 
    align-items: center; 
    display: inline-flex;
    font-family: Inter, sans-serif;
  }
  
  /* Styl dla tytułu "Nowa Faktura" */
  .title {
    text-align: center;
    color: #24304F;
    font-size: 25px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    line-height: 35px;
    word-wrap: break-word;
  }
  
  /* Kontener dla przycisku "Zapisz" */
  .button_container {
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    display: flex;
    border: none;
  }
  
  /* Styl dla przycisku "Zapisz" */
  .save_button {
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: flex;
    border: none;
  }
  
  .save_button_inner {
    width: 84px;
    padding: 16px;
    background: #24304F;
    border-radius: 8px;
    border: 1px #24304F solid;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .save_button_anuluj {
    width: 84px;
    padding: 16px;
    background: #E0E0E0;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .save_button_text {
    text-align: center;
    color: #FBFBFB;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    word-wrap: break-word;
    
  }
  .anuluj_button_text {
    text-align: center;
    color: #24304F;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    word-wrap: break-word;
  }
  .ogolne_container {
    width: 100%; 
    height: auto; 
    padding: 20px; 
    border-radius: 5px; 
    border: 1px #E0E0E0 solid; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 30px; 
    display: inline-flex
  }

.header_ogolne {
    width: 100%; 
    height: 100%;
    padding-top: 5px; 
    padding-bottom: 5px; 
    border-bottom: 1px #E0E0E0 solid; 
    justify-content: space-between;
    align-items: flex-start; 
    gap: 10px; 
    display: inline-flex
}

.text_ogolne {
    text-align: center; 
    color: #24304F; 
    font-size: 18px; 
    font-family: Inter, sans-serif;
    font-weight: 700; 
    line-height: 25.20px; 
    word-wrap: break-word ;
}
.pobierz_z_regon {
    color: rgba(0, 0, 0, 0.58);
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    text-decoration: underline;
    line-height: 24px;
    word-wrap: break-word;
    cursor: pointer;
}
.pobierz_z_regon:hover {
    color:black;
    background-color: #efefef76;
}

.ogolne_row {
    width: 100%; 
    height: 100%; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 30px; 
    display: inline-flex;
    
}
.ogolne_column {
    width: 100%; 
    height: 100%; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;
    flex: 1 1 0; 
    flex-direction: column;
    gap: 8px; 
    display: inline-flex
}
.header_column {
    width: 100%; 
    height: 100%; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 8px; display: inline-flex;
    width: 100%; 
    color: black; 
    font-size: 16px; 
    font-family: Inter, sans-serif; 
    font-weight: 500; 
    line-height: 24px; 
    word-wrap: break-word
}
.input {
    align-self: stretch; 
    height: 40px;
    width: 100%; 
    padding-left: 16px; 
    padding-right: 16px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    background: white; 
    border-radius: 8px; 
    border: 1px #E0E0E0 solid; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 16px; 
    display: inline-flex;
}
.input_text_area {
    width: 100%; 
    min-width: 100%;
    padding-left: 16px; 
    padding-right: 16px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    background: white; 
    border-radius: 8px; 
    border: 1px #E0E0E0 solid; 
    align-self: stretch;
}
.checkboxContainer {
    display: flex;
    gap: 10px; /* Add some space between the checkboxes */
  }
  
  .checkboxOption {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .checkbox {
    width: 28px;
    height: 28px;
    background: white;
    border-radius: 4px;
    border: 1px #E1E1E1 solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   .dateInput {
    width: 100%;
    height: 40px;
    position: relative; /* Dodaj pozycjonowanie relatywne */
    background: white;
    border-radius: 8px;
    border: 1px #E0E0E0 solid;
    display: flex; /* Dodaj flexbox do kontenera */
    align-items: center;
    cursor: pointer;
    
  }
  .optionText {
    margin-left: 8px;
    font-family: Inter, sans-serif; 
  }
  .rowContainer {
    width: 100%;
    display: flex;
    gap: 10px;
    
  }
  .container_cell {
    width:100%;
  }
  .header_inputt {
    margin-bottom: 8px;;
  }
  
.button_minus, .button_add {
    cursor: pointer;
}
.separator {
    width: 100%; 
    height: auto; 
    border: 1px #24304F solid;
}
.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}