.paginationContainer {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.itemsPerPage {
  display: flex;
  align-items: center;
}

.itemsPerPageText {
  margin-right: 8px;
  color: #999;

  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.itemsPerPage select {
  margin-left: 8px;
  display: flex;
padding: 8px 9px;
align-items: center;
gap: 4px;
border-radius: 8px;
background: #E0E0E0;
border: none;
outline: none;
}

.pagination {
  display: flex;
justify-content: center;
align-items: center;
gap: 12px;
}

.pageLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 8px 9px;
  border-radius: 8px;
  background: var(--Colors-Items-border-color-300, #D2D2D2);
  color: #000000;
  text-decoration: none;
  transition: background 0.3s ease;
  border: none;
  outline: none;
  margin-left: 6px; 
}

.pageLink:hover {
  background: black;
  color: white;
}

.active {
  background: black;
  color: white;
}
