.tasksContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
}

.taskFormFields {
  display: flex;
  padding: 20px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;

  border-radius: 5px;
  background: #F3F3F3;
}

.taskForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.inputRow {
  display: flex;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  
}

.inputField {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.titleFormField {
  
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;

  /* Small text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

.richTextEditor {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  min-height: 100px;
}

.textAreaField {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  min-height: 100px;
}

.addButton {
  display: flex;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 1px solid #24304F;

  background: #24304F;

  color:white;
}

.addButton:hover {
  background-color: #0056b3;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.task {
  padding: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 100%;
}
