.addButton {
  display: flex;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 1px solid #24304F;

  background: #24304F;

  color:white;
}

.addButton:hover {
  background-color: gray; 
}
